<h2 id="title">Welcome to Ember</h2>

{{#link-to 'index'}}Home{{/link-to}}
{{#link-to 'about'}}About{{/link-to}}

{{#link-to 'lesson' 1}}First lesson{{/link-to}}
{{#link-to 'lesson' 2}}Second lesson{{/link-to}}
<hr/>

{{outlet}}
